In [50]:
import pandas as pd
import numpy as np
import warnings

import seaborn
import matplotlib.pyplot as plt
import plotly.graph_objects as go
import chart_studio
import plotly.express as px

%matplotlib inline
warnings.filterwarnings("ignore")

In [51]:
# Import the ratio data file
df_ratio = pd.read_excel('./data/Ratio Table.xlsx')
df_ratio.dropna(subset=['GeoName'], inplace=True)

In [52]:
df_us = df_ratio[df_ratio['GeoName'] == 'United States']
df_us_te = df_us[df_us['Description'] == 'Total employment (number of jobs)']
# df_oh = df_ratio[df_ratio['GeoName'].str.contains('Cuyahoga, OH')]
df_all = df_ratio[df_ratio['GeoName'] != 'United States']

In [53]:
us_employment_growth = (df_us_te[2018].values[0] - df_us_te[2001].values[0]) / df_us_te[2001].values[0]
us_employment_growth

0.21280408307767779

In [54]:
df_all = df_all[~df_all[2001].isin(['(D)'])]
df_all = df_all[~df_all[2018].isin(['(D)'])]
df_all[2001] = pd.to_numeric(df_all[2001], errors='coerce')
df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2479507,2460298,2497933,2503678,2523338,2551872,2586885,2619154,2653968,2691517
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1968098,1949629,1949307,1963937,1979360,1996239,2024947,2049973,2072890,2097496
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,511409,510669,548626,539741,543978,555633,561938,569181,581078,594021
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,41130,40745,40047,38191,38707,37568,36745,36845,35779,34969
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,470279,469924,508579,501550,505271,518065,525193,532336,545299,559052

In [55]:
df_all['National Shift'] = df_all[2001].apply(lambda x: x*us_employment_growth)
df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,National Shift
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2460298,2497933,2503678,2523338,2551872,2586885,2619154,2653968,2691517,505633.780009
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1949629,1949307,1963937,1979360,1996239,2024947,2049973,2072890,2097496,423091.757873
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,510669,548626,539741,543978,555633,561938,569181,581078,594021,82542.022136
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,40745,40047,38191,38707,37568,36745,36845,35779,34969,10147.988310
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,469924,508579,501550,505271,518065,525193,532336,545299,559052,72394.033826

In [56]:
df_all[2018] = pd.to_numeric(df_all[2018], errors='coerce')
df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,National Shift
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2460298,2497933,2503678,2523338,2551872,2586885,2619154,2653968,2691517.0,505633.780009
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1949629,1949307,1963937,1979360,1996239,2024947,2049973,2072890,2097496.0,423091.757873
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,510669,548626,539741,543978,555633,561938,569181,581078,594021.0,82542.022136
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,40745,40047,38191,38707,37568,36745,36845,35779,34969.0,10147.988310
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,469924,508579,501550,505271,518065,525193,532336,545299,559052.0,72394.033826

In [57]:
df_all['Industry Mix'] = df_all[2001] * (((df_all[2018] - df_all[2001]) / df_all[2001]) - us_employment_growth)

In [58]:
df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2011,2012,2013,2014,2015,2016,2017,2018,National Shift,Industry Mix
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2497933,2503678,2523338,2551872,2586885,2619154,2653968,2691517.0,505633.780009,-190169.780009
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1949307,1963937,1979360,1996239,2024947,2049973,2072890,2097496.0,423091.757873,-313770.757873
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,548626,539741,543978,555633,561938,569181,581078,594021.0,82542.022136,123600.977864
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,40047,38191,38707,37568,36745,36845,35779,34969.0,10147.988310,-22865.988310
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,508579,501550,505271,518065,525193,532336,545299,559052.0,72394.033826,146466.966174

In [59]:
df_us.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""00000""",United States,,CAEMP25N,10.0,...,Total employment (number of jobs),165522200,165095100,165921500,...,173636700,172901700,176091700,178979700,182325100,186233800,190315800,193371900,196825300,200746000
1,"""00000""",United States,,CAEMP25N,20.0,...,Wage and salary employment,137334000,136301000,135967000,...,136242000,135393000,136918000,139619000,141932000,144722000,147636000,149912000,151860000,154375000
2,"""00000""",United States,,CAEMP25N,40.0,...,Proprietors employment,28188200,28794100,29954500,...,37394700,37508700,39173700,39360700,40393100,41511800,42679800,43459900,44965300,46371000
3,"""00000""",United States,,CAEMP25N,50.0,...,Farm proprietors employment,2190000,2032000,1953000,...,1884000,1882000,1876000,1844000,1856000,1840000,1829000,1818000,1802000,1790000
4,"""00000""",United States,,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,25998200,26762100,28001500,...,35510700,35626700,37297700,37516700,38537100,39671800,40850800,41641900,43163300,44581000

In [60]:
df_all['Regional Shift'] = 0
# df_us['Industry Change'] = (df_us[2018] - df_us[2001]) / df_us[2001]

for index, row in df_all.iterrows():
    for index2, row2 in df_us.iterrows():
        
        if row2['Description'] == row['Description']:
            try:
                rs = row[2001] * (((row[2018] - row[2001]) / row[2001]) - ((row2[2018] - row2[2001]) / row2[2001]))
                df_all.at[index,'Regional Shift'] = rs
            except:
                df_all.at[index,'Regional Shift'] = None
        else:
            continue

df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2012,2013,2014,2015,2016,2017,2018,National Shift,Industry Mix,Regional Shift
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2503678,2523338,2551872,2586885,2619154,2653968,2691517.0,505633.780009,-190169.780009,-190169.0
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1963937,1979360,1996239,2024947,2049973,2072890,2097496.0,423091.757873,-313770.757873,-137380.0
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,539741,543978,555633,561938,569181,581078,594021.0,82542.022136,123600.977864,-44057.0
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,38191,38707,37568,36745,36845,35779,34969.0,10147.988310,-22865.988310,-4008.0
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,501550,505271,518065,525193,532336,545299,559052.0,72394.033826,146466.966174,-24298.0

In [61]:
df_all['Total Change in Employment 2001 to 2018'] = df_all.apply(lambda row: row['National Shift'] + row['Industry Mix'] + row['Regional Shift'], axis=1)

In [62]:
df_all.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,National Shift,Industry Mix,Regional Shift,Total Change in Employment 2001 to 2018
47,"""01000""",Alabama,5,CAEMP25N,10.0,...,Total employment (number of jobs),2376053.0,2364828,2371430,...,2523338,2551872,2586885,2619154,2653968,2691517.0,505633.780009,-190169.780009,-190169.0,125295.0
48,"""01000""",Alabama,5,CAEMP25N,20.0,...,Wage and salary employment,1988175.0,1971265,1965711,...,1979360,1996239,2024947,2049973,2072890,2097496.0,423091.757873,-313770.757873,-137380.0,-28059.0
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,543978,555633,561938,569181,581078,594021.0,82542.022136,123600.977864,-44057.0,162086.0
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,38707,37568,36745,36845,35779,34969.0,10147.988310,-22865.988310,-4008.0,-16726.0
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,505271,518065,525193,532336,545299,559052.0,72394.033826,146466.966174,-24298.0,194563.0

In [63]:
df_all['Description'].unique()

array(['Total employment (number of jobs)', ' Wage and salary employment',
       ' Proprietors employment', '  Farm proprietors employment',
       '  Nonfarm proprietors employment 2/', ' Farm employment',
       ' Nonfarm employment', '  Private nonfarm employment',
       '   Mining, quarrying, and oil and gas extraction', '   Utilities',
       '   Construction', '   Manufacturing', '   Wholesale trade',
       '   Retail trade', '   Transportation and warehousing',
       '   Information', '   Finance and insurance',
       '   Real estate and rental and leasing',
       '   Professional, scientific, and technical services',
       '   Management of companies and enterprises',
       '   Administrative and support and waste management and remediation services',
       '   Educational services', '   Health care and social assistance',
       '   Arts, entertainment, and recreation',
       '   Other services (except government and government enterprises)',
       '  Government and government enterprises', '   Federal civilian',
       '   Military', '   State and local', '    State government',
       '    Local government',
       '   Forestry, fishing, and related activities',
       '   Accommodation and food services'], dtype=object)

In [64]:
df_all_no_total = df_all[df_all['Description'] != 'Total employment (number of jobs)']
df_all_no_ = df_all_no_total[df_all_no_total['Description'] != ' Wage and salary employment']
df_all_no_.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,2001,2002,2003,...,2013,2014,2015,2016,2017,2018,National Shift,Industry Mix,Regional Shift,Total Change in Employment 2001 to 2018
49,"""01000""",Alabama,5,CAEMP25N,40.0,...,Proprietors employment,387878.0,393563,405719,...,543978,555633,561938,569181,581078,594021.0,82542.022136,123600.977864,-44057.0,162086.0
50,"""01000""",Alabama,5,CAEMP25N,50.0,...,Farm proprietors employment,47687.0,41915,40802,...,38707,37568,36745,36845,35779,34969.0,10147.988310,-22865.988310,-4008.0,-16726.0
51,"""01000""",Alabama,5,CAEMP25N,60.0,...,Nonfarm proprietors employment 2/,340191.0,351648,364917,...,505271,518065,525193,532336,545299,559052.0,72394.033826,146466.966174,-24298.0,194563.0
52,"""01000""",Alabama,5,CAEMP25N,70.0,111-112,Farm employment,56046.0,51018,49413,...,46420,42886,44196,44058,44478,42220.0,11926.817640,-25752.817640,-5427.0,-19253.0
53,"""01000""",Alabama,5,CAEMP25N,80.0,...,Nonfarm employment,2320007.0,2313810,2322017,...,2476918,2508986,2542689,2575096,2609490,2649297.0,493706.962369,-164416.962369,-180280.0,149010.0

In [69]:
# Write output

df_all_no_.to_csv('Shift-Share Ratios.csv', index=False)
df_all_no_.to_excel("Shift-Share Ratios.xlsx")